@model YdtSdk.OfferImgModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OfferImg</title>
    <style type="text/css">
        html, body {
            width: 1280px;
        }

        table.tb1 {
            width: 100%;
            border-collapse: collapse;
        }

        table.tb1 td {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div style="width:1280px;margin:0px auto">
        <div style="padding:0px 65px;">

            <h1 style="text-align:center;">@Model.Company</h1>
            <h3 style="text-align:center;font-weight:400;margin-top:20px; margin-bottom:50px;">车险业务报价单</h3>

            <table style="width:100%">
                <tr>
                    <td style="text-align:center;line-height:38px;">报价人：@Model.Offerer</td>
                    <td style="text-align:center;line-height:38px;">报价时间：@Model.OfferTime.ToUnifiedFormatDate()</td>
                </tr>
            </table>
            <table class="tb1" cellpadding="0" cellspacing="0">
                <tr>
                    <td rowspan="4" style="text-align:center;"><strong>车辆信息</strong></td>
                    <td>车主姓名</td>
                    <td>@Model.CarInfo.CarOwner</td>
                    <td>交强险起止日期</td>
                    <td>

                        @if (Model.CompulsoryInfo.PeriodStart != null)
                        {
                            <span> @Model.CompulsoryInfo.PeriodStart.ToUnifiedFormatDate() 到 @Model.CompulsoryInfo.PeriodEnd.ToUnifiedFormatDate()</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>车牌号码</td>
                    <td>@Model.CarInfo.CarPlateNo</td>
                    <td>商业险起止日期</td>
                    <td>
                        @if (Model.CommercialCoverageInfo.PeriodStart != null)
                        {
                            <span> @Model.CommercialCoverageInfo.PeriodStart.ToUnifiedFormatDate() 到 @Model.CommercialCoverageInfo.PeriodEnd.ToUnifiedFormatDate()</span>
                        }

                    </td>
                </tr>
                <tr>
                    <td>发动机号</td>
                    <td>@Model.CarInfo.CarEngineNo</td>
                    <td>品牌型号</td>
                    <td>@Model.CarInfo.CarModelName</td>
                </tr>
                <tr>
                    <td>车架号</td>
                    <td>@Model.CarInfo.CarVin</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="@(2+Model.CommercialCoverageInfo.Coverages.Count)" style="text-align:center;"><strong>商业险信息</strong></td>
                    <td style="text-align:center;"><strong>险种/险别</strong></td>
                    <td style="text-align:center;"><strong>保额/限额/档次（元）</strong></td>
                    <td style="text-align:center;"><strong>折扣（%）</strong></td>
                    <td style="text-align:center;"><strong>签单保费（元）</strong></td>
                </tr>

                @foreach (var m in Model.CommercialCoverageInfo.Coverages)
                {
                    <tr>
                        <td>@m.Name</td>
                        <td>@m.Coverage</td>
                        <td></td>
                        <td>@m.Premium.ToF2Price()</td>
                    </tr>

                }

                <tr>
                    <td colspan="3" style="text-align:center;">商业险保费合计</td>
                    <td>@Model.CommercialCoverageInfo.SumPremium.ToF2Price()</td>
                </tr>
                <tr>
                    <td style="text-align:center;"><strong>交强险信息</strong></td>
                    <td colspan="3"></td>
                    <td>@Model.CompulsoryInfo.Premium.ToF2Price()</td>
                </tr>
                <tr>
                    <td style="text-align:center;"><strong>车船稅信息</strong></td>
                    <td colspan="3"></td>
                    <td>@Model.TravelTax.ToF2Price()</td>
                </tr>
                <tr>
                    <td style="text-align:center;"><strong>合计保费</strong></td>
                    <td colspan="3"></td>
                    <td><strong> @Model.SumPremium.ToF2Price() </strong></td>
                </tr>
            </table>

            <div style="height:50px;line-height:50px;">温馨提示：本报价单仅作为报价使用，不作为承保及理赔的依据</div>
        </div>
    </div>
</body>
</html>
